---
layout: default
title: ubds lab / projects
categories:
- projects 
---

<div class="row">
  <div class="col-md-12">
    <div class="bigtitle">
      Research Projects	
    </div>
  </div>
</div>
<div class="bigspacer"></div>
<div class="row">
  <div class="col-md-12">
    <div class="title">
      Current	
    </div>
  </div>
</div>
<div class="bigspacer"></div>
<div>
 {% for project in site.categories.projects %}
 {% if project.active == true %}
 {% cycle 'add rows': '<div class="row">', '', '' %}
   <div class="col-md-4 paperbox">
     <div class="media">
       <a class="pull-right" href="{{ project.url }}">
	 <img width=80 class="media-object" src="{{ project.image }}">
       </a>
       <div class="media-body">
	 <div class="smallhead media-heading"><a href="{{ project.url }}" class="off">{{ project.title }}</a></div>
	 {% if project.area %}
	 <span class="badge" style="background-color:#105723;">{{ project.area }}</span>
	 {% endif %}
	 {% if project.application %}
	 <span class="badge" style="background-color:#0099cc;">{{ project.application }}</span>
	 {% endif %}
	 <div class="spacer"></div>
	 <a class="pull-left" href="{{ project.sponsorurl }}">
	   <img width=50 class="media-object" src="/images/logos/{{ project.sponsor }}.jpg">
	 </a>
	 {% if project.sponsor1 %}
	 <a class="pull-left" href="{{ project.sponsorurl1 }}">
	   <img width=50 class="media-object" src="/images/logos/{{ project.sponsor1 }}.jpg">
	 </a>
	 {% endif %}
	 {% if project.sponsor2 %}
	 <a class="pull-left" href="{{ project.sponsorurl2 }}">
	   <img width=50 class="media-object" src="/images/logos/{{ project.sponsor2 }}.jpg">
	 </a>
	 {% endif %}
       </div>
     </div>
    <div class="bigspacer"></div>
    <div class="spacer"></div>
   </div>
   {% cycle 'close rows': '', '', '</div>' %}
   {% endif %}
 {% endfor %}
</div>
 <hr/>
<div class="bigspacer"></div>
<div class="row">
  <div class="col-md-12">
    <div class="title">
      Older	
    </div>
  </div>
</div>
<div class="bigspacer"></div>

 {% for project in site.categories.projects %}
 {% if project.active == false %}
 {% cycle 'add rows': '<div class="row">', '', '' %}
   <div class="col-md-4 paperbox">
     <div class="media">
       <a class="pull-right" href="{{ project.url }}">
	 <img width=80 class="media-object" src="{{ project.image }}">
       </a>
       <div class="media-body">
	 <div class="smallhead media-heading"><a href="{{ project.url }}" class="off">{{ project.title }}</a></div>
	 {% if project.area %}
	 <span class="badge" style="background-color:#105723;">{{ project.area }}</span>
	 {% endif %}
	 {% if project.application %}
	 <span class="badge" style="background-color:#0099cc;">{{ project.application }}</span>
	 {% endif %}
	 <div class="spacer"></div>
	 <a class="pull-left" href="{{ project.sponsorurl }}">
	   <img width=50 class="media-object" src="/images/logos/{{ project.sponsor }}.jpg">
	 </a>
	 {% if project.sponsor1 %}
	 <a class="pull-left" href="{{ project.sponsorurl1 }}">
	   <img width=50 class="media-object" src="/images/logos/{{ project.sponsor1 }}.jpg">
	 </a>
	 {% endif %}
	 {% if project.sponsor2 %}
	 <a class="pull-left" href="{{ project.sponsorurl2 }}">
	   <img width=50 class="media-object" src="/images/logos/{{ project.sponsor2 }}.jpg">
	 </a>
	 {% endif %}
       </div>
     </div>
     <div class="bigspacer"></div>
     <div class="spacer"></div>
   </div>
   {% cycle 'close rows': '', '', '</div>' %}
   {% endif %}
 {% endfor %}
